nav#mySidebar.w3-sidebar.w3-bar-block.w3-card
    div#menu
        a.item-menu.w3-bar-item.w3-button(href='/frase-do-dia') Frase do Dia
        a.item-menu.w3-bar-item.w3-button(href='/') Frases Aleatórias