extends layout

block content
    
    div#container
        div#conteudo
            div.autor
            div.data
            div.frase

block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="javascripts/frase-do-dia.js")