extends layout

block content
    div#container
        div#conteudo
            div.autor
            div.data
            div.frase
    footer
        button#botao
        button#trocar-frase VER OUTRA FRASE HISTÓRICA

block script
    script(src="javascripts/index.js")
