extends layout

block content
  h1 Frases Históricas Aleatórias
  div.container
    div.autor
    div.data
    div.frase
  button#trocar-frase Ver Outra Frase Histórica


block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="javascripts/index.js")
