doctype html
html
  head
    title= title
    link(rel="manifest", href="/manifest.json")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/pwabuilder-sw-register.js")
  body
    block content
    block script