
@media (max-width: 240px) 
{
  #container
   {
      height: calc(100% - 18rem);
   }
   #mySidebar
   {
      margin-right: auto !important;
      margin-top: auto;
      height: 89%;
      position: absolute !important;
      left: 0;
      bottom: 0;
      height: calc(100% - 9rem);
   }
}
@media (min-width: 240px) 
{
  #container
   {
      height: calc(100% - 14rem);
   }
   #mySidebar
   {
      margin-right: auto !important;
      margin-top: auto;
      height: 89%;
      position: absolute !important;
      left: 0;
      bottom: 0;
      height: calc(100% - 7rem);
   }
}
@media (min-width: 346px) 
{
  #container
   {
      height: calc(100% - 10rem);
   }
   #mySidebar
   {
      margin-right: auto !important;
      margin-top: auto;
      height: 89%;
      position: absolute !important;
      left: 0;
      bottom: 0;
      height: calc(100% - 5rem);
   }
}

html,body {
  font-family: sans-serif !important;
  font-size: 14px !important;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  color: #000;
  background-color: #f6f6f6;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid #acacac;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  border-top: 1px solid #acacac;
  background-color: #f6f6f6;
  padding: 10px;
}

#trocar-frase {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

#container {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: auto;
}

#conteudo{
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;  
  padding: 4%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid gray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

#conteudo .data {
  font-style: italic;
}

#conteudo .frase{
  margin-top: 25px;
  font-size: 13px !important;
}

#mySidebar {
  display: none;
}

#gif_load {
  display: none;
  width: 100px;
  margin: auto
}

.item-menu {
  padding: 20px !important;
  white-space: nowrap !important;
}

.w3-bar-block .w3-bar-item {
  border-bottom: 1px solid lightgray !important;
}